<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>sign in</h1>
  </div>
  <div class="panel-body">
    <p>choose</p>
    <ul>
      <li><a href="">Facebook</a></li>
      <li><a href="">GitHub</a></li>
      <li><a href="">Google</a></li>
    </ul>
  </div>
</body>
</html>